# macOS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# backend
backend/venv/
backend/.env
backend/__pycache__/
backend/**/*.py[cod]

# frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

.DS_Store
