@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Felipa&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
}
header {
    width: 100%;
    padding: 1em 2em;
    background-color: #131313;
    color: #EBBF82;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-container, .nav-container, .btn-container {
    display: flex;
    align-items: center;
}

.brand-container {
    flex: 1;
    justify-content: start;
    padding-left: 2rem;
}
.logo-main {
    font-family: Almendra SC;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;

}
.logo-sub {
    color: #b6a081;
    display: block;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.nav-container {
    color: #9CA3AF;
    flex: 3;
    justify-content: center;
    gap: 1.5rem;
    font-size: medium;
}

a:hover {
    color: #EBBF82;
}

.nav-container a:active, a:focus {
    font-size: large;
    padding-bottom: 5px;
    border-bottom: 3px solid #EBBF82;
}

.btn-container {
    flex: 1;
    justify-content: flex-end;
    gap: 1rem;
    padding-right: 1rem;
}

button {
    border: none;
    border-radius: 6px;
    background-color: #EBBF82;
    color: #462D00;
    padding: 1em 2em;
    font-size: small;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background-color: #BA935A;
}

